@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
}

body {
    background-color: rgb(10, 10, 10);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.global-container {
    width: 100%;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-pic {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
}

h1 {
    font-size: 1.3rem;
}

.subtext {
    font-size: 0.8rem;
    color: #b2b2b2;
}

.global-container a {
    text-decoration: none;
}

.global-container a img {
    width: 40px;
    height: auto;
}
.global-container .buttons {
    width: 250px;
    height: 80px;
    border-radius: 5px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
}

.global-container .buttons:hover {
    filter: brightness(110%);
}

.intro {
    width: 250px;
    height: 80px;
    margin-top: 30px;
}

.global-container .linkedin {
    background-color: #0b66c3;
}

.global-container .tel {
    background-color: #25ae88;
}

.global-container .mailto {
    background-color: #ffc107;
}

.contact-type {
    margin-top: 3px;
    font-weight: bold;
}

.contact-info {
    font-size: 0.75rem;
    color: #696969;
}

.copyright {
    font-size: 0.75rem;
    margin-top: 30px;
    margin-bottom: 20px;
}